@page "/Compra"

<h3>Agregar nueva compra</h3>

<div class"form-group row">
    <div class="col-sm-2">
        <a href="/Compra/Nuevo" class="btn btn-primary">Nueva Compra</a>
    </div>
</div>
<br>
<br>

